@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

*{
    box-sizing: border-box;
    margin: 0%; 
    padding: 0%;
}

body{
    background-color: #694410;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#logoimg{
    width: 50px;
    border-radius: 10px;
    display: inline-block;
    flex-direction: row;
    
}

#logo{
    width: 50px;
    border-radius: 10px;
    display: inline-block;
    flex-direction: row;
    color: white;
}

header{
    background: #3d2401;
    background: linear-gradient(180deg,rgba(61, 36, 1, 1) 22%, rgba(79, 52, 9, 1) 42%, rgba(105, 68, 16, 1) 100%);
}

nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    background-color: #694410be;
    border-radius: 10px;
}

nav a:hover{
    background-color: #CBB39C;
    font-size: 16px;
}

#principal{
    text-align: center;
    background-image:url(./imagens/logotranspa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-family: 'MedievalSharp';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    font-size: 80px;
    color: white;
    
}

p{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 900;
    font-display: swap; 
    font-size: 30px;
    color: white;
}

.card{
    display: inline-block;
    width: 350px;
    margin: 40px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
    
}
.cardsmash{
    display: inline-block;
    width: 350px;
    margin: 150px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

.cardsmash img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.card img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    
}

#produtos{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    text-align: center;
    font-size: 30px;
    color: #694410;
}

#menu{
    background-image:url(./imagens/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#heimdall{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    text-align: center;
    font-size: 30px;
    color: #694410;
}

.cardheimdall{
    display: inline-block;
    width: 350px;
    margin: 100px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

.cardheimdall img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.cardheimdall2{
    display: inline-block;
    width: 500px;
    height: 630px;
    margin: 50px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

.ingredientes{
    display: flexbox;
    justify-content: center;
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    font-size: 20px;
    color: #694410;
    
}

#queijocarne{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    text-align: center;
    font-size: 30px;
    color: #694410;
}

.cardheimdall2 img{
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.cardloki2{
    display: inline-block;
    width: 500px;
    height: 650px;
    margin: 50px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

.cardloki2 img{
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.cardacompanhamento{
    display: inline-block;
    width: 350px;
    margin: 100px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

.cardacompanhamento img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.cardacompanhamento2{
    display: inline-block;
    width: 450px;
    height: 280px;
    margin: 70px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

.cardacompanhamento2 img{
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.cardpalito{
    display: inline-block;
    width: 450px;
    height: 250px;
    margin: 70px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

.cardpalito img{
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.cardhorario{
    display: inline-block;
    width: 540px;
    height: 380px;
    margin: 60px;
    padding: 50px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

#horario{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    text-align: center;
    font-size: 30px;
    color: #694410;
}

.cardlocal{
    display: inline-block;
    width: 540px;
    height: 380px;
    margin: 60px;
    padding: 10px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

#horario img{
    width: 40px;
    object-fit: cover;
}

.cardsobre{
    display: inline-block;
    width: 850px;
    height: 480px;
    margin-top: 45px;
    margin-left: 250px;
    padding: 15px;
    background: #F7B847;
    background: radial-gradient(circle, rgba(247, 184, 71, 1) 0%, rgba(251, 185, 79, 1) 50%, rgba(249, 209, 149, 1) 100%);
    border-radius: 10px;
}

.cardsobre img{
    width: 800px;
    border-radius: 10px;
    object-fit: cover;
    margin: 10px;
}

#maps a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #694410be;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

#maps a:hover{
    background-color: #CBB39C;
    font-size: 16px;
}

.rodapé{
    background-color: #4d310b; 
}

.todorodapé{
    display: flex;
    justify-content: space-around;
    
}
#rodapésiga{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    text-align: left;
    font-size: 20px;
    color: white;  
}

#rodapésiga img{
    width: 30px;
    object-fit: cover;
}

#rodapéatende{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    text-align: center;
    font-size: 20px;
    color: white;
}

#rodapéatende img{
    width: 30px;
    object-fit: cover;
}

#rodapélocal{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    text-align: right;
    font-size: 20px;
    color: white;
}

#rodapélocal img{
    width: 30px;
    object-fit: cover;
}

.cardlinha img{
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

#rodapécopy{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    text-align: left;
    font-size: 15px;
    color: white;
}
